body{
  background: url('../public/otherImages/bg.jpg');
  background-repeat: no-repeat;
  background-size: auto 1000vh;
  padding-bottom: 5vw;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #66FCF1;
}


.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 0vw 0vw 1vw 0vw; 
}

.pages{
  text-decoration: none;
  color: #66FCF1;
  font-family:monospace;
  font-size: 1.75vw;
  padding: 1vw;
  width: 10vw;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(102, 252, 241, 0), rgba(102, 252, 241, 0));
  transition: 1s;
  font-weight: bold;
}

.navbar .navlogo .pages:hover{
  background-image: linear-gradient(to left, rgba(102, 252, 241, 0.2), rgba(102, 252, 241, 1));
  color: #1F2833;
}

.navbar .pages:hover{
  background-image: linear-gradient(to right, rgba(102, 252, 241, 0.2), rgba(102, 252, 241, 1));
  color: #1F2833;
}

.navbar .navlogo{
  margin: 1vw;
  text-align: right;
}

.payhead{
  width: 50vw;
  height: 10vw;
  margin: 10vw 25vw;
  color: white;
  padding: 3vw 0vw;
  text-align: center;
  border-radius: 1vw;
  background-color: rgb(83, 200, 83);
}

.form{
  display: flex;
  flex-direction: column;
  height: 24vw;
  width: 40vw;
  margin: 6vw 30vw;
  padding: 2vw;
}

.form button, .demoTitle{
  background-color: #66FCF1;
  color: #1F2833;
  font-size: 1.25vw;
  border: 0.1vw solid #66FCF1;
  margin-top: 2vw;
  font-weight: bold;
  margin-left: 12vw;
  width: 10vw;
  padding: 0.5vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: 0.5s;
}

.demoTitle{
  margin: 4vw 34vw 0 34vw;
  display: inline-block;
  width: 30vw;
  padding: 1vw;
  font-size: 1.5vw;
  text-align: center;
  text-decoration: none;
  border-radius: 1vw;
}

.form button:hover, .demoTitle:hover{
  background-color: #1F2833;
  color: #66FCF1;
  border: 0.1vw solid #66FCF1;
  box-shadow: #66FCF1 0 0 3vw 0.2vw;
}

.form div{
  margin: 1vw;
}

.form div span{
  display: inline-block;
  width: 7vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5vw;
}

.form div input{
  background-color: rgba(120, 120, 120, 0.1);
  padding: 1vw;
  border: 0;
  border-bottom: 0.1vw solid rgba(102, 252, 241, 0.5);
  font-size: 1.5vw;
  width: 25vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.step h1, .bookhead{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0.5vw;
  margin: 2vw 1vw 1vw 1vw;
  border-bottom: 0.2vw solid #66FCF1;
  transition: 0.5s;
}

.step h1:hover, .bookhead:hover{
  background-color: #66FCF1;
  color: #1F2833;
  margin: 2vw 0 1vw 0;
}

.bookhead{
  margin-top: 0vw !important;
}

.step .document{
  text-decoration: none;
  display: block;
  width: 85vw;
  margin-left: 10vw;
  font-size: 1.25vw;
  padding: 0.5vw;
  transition: 0.5s;
}

.step .document:hover{
  background-color: white;
  color: #1F2833;
}

.project, .learn{
  width: 80vw;
  height: 45vw;
  margin: 1vw 8vw;
  transition: 0.5s;
}

.project:hover, .learn:hover{
  box-shadow: #66FCF1 0 0 2vw 0.2vw;
}

.steplist{
  display: inline-block;
  width: 78vw;
  text-align: left;
  margin: 1vw 10vw;
}

.steplist li{
  color: #1F2833;
  list-style-type:square;
  padding: 1vw;
  padding-right: 4vw;
  margin-bottom: 0.5vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3vw;
  background-color: #66FCF1;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
}

#parallax{
  width: 95vw;
  height: 30vw;
  background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}

#parallax h1{
  text-align: center;
  padding: 11vw;
  font-size: 5vw;
  font-family: cursive;
  opacity: 0.7;
  letter-spacing: 0.5vw;
  font-weight: bold;
}

.intro{
  display: flex;
  flex-direction: row;
  height: 16vw;
}

.intro img{
  width: 30vw;
  padding: 0;
  filter: invert(100%);
}

.intro p{
  font-size: 1.5vw;
  margin: 7vw 2vw 0 0;
  height: 1.75vw;
  transition: 2s;
  overflow: hidden;
}

.intro p::after {
  content: "...";
  position: absolute;
  font-size: 2vw;
  color: #66FCF1;
  bottom: -5vw; 
  right: 2vw; 
  visibility: visible; 
}

.intro p:hover::after {
  visibility: hidden;
}

.intro p:hover{
  height: 15vw;
  margin: 2vw 2vw 0 0 ;
}

.item{
  display: block;
  display: flex;
  margin-bottom: 1vw;
  background-color: #1F2833;
  color: transparent;
}

.item:hover > .special{
  color: white;
}

.item:hover{
  background-color: #7f7f7f;
}

.item img{
  display: inline-block;
  height: 10vw;
  margin: 1vw ;
}

.item div{
  display: inline-block;
  width: 80vw;
  text-decoration: none;
  font-size: 1.35vw;
  text-align: center;
  padding: 4vw 0vw 0vw 0vw;
  color: #66FCF1;
}

.up{
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  padding: 0.5vw 1vw;
  background-color: #1F2833;
  color: #66FCF1;
  text-decoration: none;
  transition: 0.5s;
  font-size: 2vw;
  border-radius: 1vw;
}

.up:hover{
  color: #1F2833;
  background-image: linear-gradient(to left, rgba(102, 252, 241, 0.2), rgba(102, 252, 241, 1));
}